BOT_TOKEN = '' #Create a bot using @BotFather, and get the Telegram API token.
API_ID = "" #Get this value from telegram.org
API_HASH = "" #Get this value from telegram.org
CHANNELS = -10012345 -10054321 #Username or ID of channel or group. Separate multiple IDs by space
ADMINS =  12345 2431 #Username or ID of Admin. Separate multiple Admins by space
DATABASE_URI= "" #mongoDB URI. Get this value from mongoDB. For more help watch this video
DATABASE_NAME = "" #Name of the database in mongoDB. For more help watch this video
LOG_CHANNEL= -1002415 #A channel to log the activities of bot. Make sure bot is an admin in the channel.

#Optional
PICS = "" #Telegraph links of images to show in start message.( Multiple images can be used separated by space )
FILE_STORE_CHANNEL= -100124 -100243 #Channel from were file store links of posts should be made.Separate multiple IDs by space
AUTH_USERS =
AUTH_CHANNEL=
AUTH_GROUP=
COLLECTION_NAME =
SUPPORT_CHAT =
P_TTI_SHOW_OFF =
IMDB =
SINGLE_BUTTON =
CUSTOM_FILE_CAPTION =
BATCH_FILE_CAPTION = 
IMDB_TEMPLATE = 
LONG_IMDB_DESCRIPTION = 
SPELL_CHECK_REPLY = 
MAX_LIST_ELM = 
INDEX_REQ_CHANNEL =
FILE_STORE_CHANNEL =
MELCOW_NEW_USERS = 
PROTECT_CONTENT = 
PUBLIC_FILE_STORE =